html {
	min-height: 100%;	
}

body {
	background-color: #C8C8C8;
	color: #000;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	height: 100%;
}

.logo {
	max-height: 15vw;
	padding: 1em;
}

.maincontent {
	padding: 3em;
}

p {
	font-size: 20px;
}

.navbar {
	background-color: #92278f;
	color: #C8C8C8;
	width: 100%;
	overflow: auto;
	padding: 0px;
	background-image: url("images/navbackground.png");
}

.navbar a {
	font-family: 'Kaushan Script', cursive;
	float: left;
	width: 33.33%;
	padding:12px;
	text-align: center;
	font-size: 1.7rem;
	transition: background-color 0.2s;
	color: #C8C8C8;
	text-decoration: none;
	font-weight: bold;
}

.navbar a:hover {
	background-color: #C8C8C8;
	color: #92278f;
}

.nav-link {
	font-size: 30px;
}

.mainpic {
	box-shadow: 0 16px 30px 0 rgba(24, 24, 24, 0.7);
	text-align: center;
	border-radius: 2em;
}

.maincard {

}

.nasacard {
	margin: auto;
	width: 80%;
	border-radius: 1em;
	box-shadow: 0 16px 30px 0 rgba(24, 24, 24, 0.7);
	background-color: #C8C8C8;
}

.nasapic {
	padding: 2em;
	text-align: center;
	border-radius: 50px;
}

.nasatext {
	text-align: center;
	background-color: #C8C8C8;
	align-items: center;
	border-radius: 1em;
}

.nasaheading {
	text-align: center;
	font-weight: bold;
	margin-top: 1em;
}

.nasasubheading {
	text-align: center;
	font-weight: bold;
}

.bold {
	font-weight: bold;
}


@media screen and (max-width: 700px) {
	.navbar a {
		float: none;
		display: block;
		width: 100%;
		text-align: center;
	}
	.mainpic {
		padding: 7em;
	}
}
